#content {
    padding-top: 60px;
}
#search-bar-image {
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    background-position: center;
    height: 380px;
    background-size: cover;
}
#padding {
    width: 100%;
    height: 180px;
}
#search-bar {
    display: block;
    width: 28%;
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
    color: black;
    border: 3px solid transparent;
    border-radius: 12px;
    padding: 50px;
    font-size: 16px;
    background-color: white;
    outline: none; 
}
.city-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2% 15%;
}
.city-card {
    position:relative;
}
.img-description {
    text-align: center;
    line-height: 150px;
    height: 150px;
    width: 150px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 25%;
    margin-top: 15px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    visibility: hidden;
    opacity: 0;
}
.city-image {
    height: 150px;
    width: 150px;
    border-radius: 25%;
    margin-top: 10%;
    box-shadow: 10px 10px 10px grey;
}
.city-card:hover .img-description {
    visibility: visible;
    opacity: 1;
}
#view-more {
    text-align: center;
    padding-bottom: 1%;
}
@media only screen and (max-width: 576px) {
    #padding {
        height: 160px;
    }
    #search-bar {
        width: 200px;
    }
}
@media only screen and (min-width: 768px) {
    .city-cards {
        padding: 4% 10%;
    }
    #search-bar {
        width: 400px;
    }
}
@media only screen and (min-width: 992px) {
    #search-bar {
        display: block;
        width: 28%;
        margin: 0 auto;
        border: 1px solid transparent;
        border-radius: 12px;
        padding: 10px;
        font-size: 16px;
        background-color: white;
        outline: none; 
    }
    .city-cards {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}